<!-- 
  
 <ion-view view-title="Change Password">
  <ion-content  class="ParentContent" style="margin-top:50px;">
<ion-item style="border:none">

    <form name="fastway_login">
    <div class="list login_formwap">
      <label class="item item-input item-floating-label">
        <span class="input-label">Old password</span>
        <input type="password" name="oldpassword" placeholder="Old Password" ng-model="change.oldPassword" required>
      </label>
       <p ng-show="fastway_login.oldpassword.$invalid && !fastway_login.oldpassword.$pristine" class="validation-msg">Old password is required.</p>

      <label class="item item-input item-floating-label">
        <span class="input-label">New password</span>
        <input type="password" name="newpassword" placeholder="New Password" ng-model="change.newPassword" required>
      </label>
      <p ng-show="fastway_login.newpassword.$invalid && !fastway_login.newpassword.$pristine" class="validation-msg">New Password is required.</p>

       <label class="item item-input item-floating-label">
        <span class="input-label">Retype New password</span>
        <input type="password" name="retypepassword" placeholder="Retype Password" ng-model="login.password" required>
      </label>
      <p ng-show="(fastway_login.retypepassword.$invalid && !fastway_login.retypepassword.$pristine) || (change.oldPassword!=change.newPassword) " class="validation-msg">New Password and Retype Password Should be same .</p>
      <br>
      <button class="login_btn" ng-disabled="(change.oldPassword!=change.newPassword) || fastway_login.$invalid" ng-click="changePassword()">Submit</button>
      <br><br>
       <p style="color:red;text-align: center;font-size: 20px">
      {{errorMsg}}
    </p>
    </div>
    </form>

</ion-item>
 </ion-content>
</ion-view> -->

<ion-view title= "Change Password">
    <ion-content class="ParentContent" >
        <ion-item style="border:none" class="item-text-wrap">
            <h2>
                <b>Change Password</b>
            </h2>
            <br>
            <form name="changePasswordForm" novalidate>
                <label>
                    <span>
                        <b>Current Password *</b>
                    </span>
                    <input style="border: 1px solid black" type="password" class="userPassword" ng-model="changePassword.current" name="OldPassword" required>
                    <div class="padding" ng-show="changePasswordForm.OldPassword.$touched">
                        <p style="color:red" ng-show="changePasswordForm.OldPassword.$error.required">Current Password is Required</p>
                    </div>
                </label>
                <label>
                    <span>
                        <b>New Password *</b> 
                    </span>
                    <input style="border: 1px solid black" type="password" class="userPassword" ng-model="changePassword.newPassword" name="newPassword" ng-minlength="5" ng-maxlength="15" required>
                    <div class="padding" ng-show="changePasswordForm.newPassword.$touched">
                        <p style="color: red" ng-show="changePasswordForm.newPassword.$error.required">New Password is Required</p>
                        <p style="color: red" ng-show="changePasswordForm.newPassword.$error.minlength">New Password is too Short</p>
                        <p style="color: red" ng-show="changePasswordForm.newPassword.$error.maxlength">New Password is too long</p>
                    </div>
                </label>
                <label>
                    <span>
                        <b>Confirm Password *</b>
                    </span>
                    <input style="border: 1px solid black" type="password" class="userPassword" ng-model="changePassword.Password" name="confirmPassword" ng-minlength="5" ng-maxlength="15" required>
                    <div class="padding" ng-show="changePasswordForm.confirmPassword.$touched">
                        <p style="color: red" ng-show="changePasswordForm.confirmPassword.$error.required">Confirm Password is required}}</p>
                        <p style="color: red" ng-if="!(changePassword.Password==changePassword.newPassword)">New Password should equal to Confirm Password</p>
                         <p style="color: red">{{error}}</p>
                    </div>
                </label>

               
                <br>
                <button ng-click="changePasswordSubmit()" ng-disabled="changePasswordForm.$invalid" class="button button-block button-positive">Submit</button>
            </form>
        </ion-item>
    </ion-content>
</ion-view>