<ion-view view-title="Payment Refund Details">
    <ion-content class="ParentContent">
        <!-- <ion-content  class="ParentContent"> -->

        <!-- <ion-item class="item-text-wrap"> -->

        <div>
            <h1 class="title">Refund TATs</h1>
        </div>
<p>Refunds initiated by the merchant reflect into the customer’s account based on the original mode of payment. 
Please refer below to find out when the amount is credited to the customer and through which channel:</p>

<table  style="width:100%;height:100%;padding-bottom: 30px;">
  <tr>
    <th><b>Original Mode of Payment</b></th>
    <th><b>Refunded to</b></th> 
    <th><b>Timeline</b></th>
  </tr>
  <tr>
    <td height="100">Credit Card</td>
    <td height="100">Source (the same card from which original transaction was done)</td>
    <td height="100">7-9 working days from the date when refund was processed by the merchant. The average is 2 days.</td>
  </tr>
  <tr>
    <td height="100">Credit Card + Wallet</td>
    <td height="100">The Credit Card amount is refunded back to source (the same card from which original transaction was done).

The Wallet amount is refunded to Wallet.</td>
    <td height="100">Credit Card is refunded in 7-9 working days from the date when refund was processed by the merchant. The average is 2 days.

Wallet refund is immediate</td>
  </tr>
  <tr>
    <td height="100">Debit Card</td>
    <td height="100">Source (the same card from which original transaction was done).</td>
    <td height="100">Credit Card is refunded in 7-9 working days from the date when refund was processed by the merchant. The average is 2 days.</td>
  </tr>
<tr>
    <td height="100">Debit Card + Wallet</td>
    <td height="100">The Debit Card amount is refunded back to source (the same card from which original transaction was done).

The Wallet amount is refunded to Wallet.</td>
    <td height="100">Debit Card is refunded in 7-9 working days from the date when refund was processed by the merchant. The average is 3-4 days.

The refund to wallet is immediate</td>
  </tr>
<tr>
    <td height="100">UPI</td>
    <td height="100" width="200">The refund is credited to the UPI linked account using IMPS.</td>
    <td height="100">Refund is credited back on the same or the next day.</td>
  </tr>
<tr>
    <td height="100">UPI + Wallet</td>
    <td height="100">The wallet amount is refunded back to the user’s wallet.

UPI amount is refunded back to the user’s account using IMPS.</td>
    <td height="100">Refund to wallet is immediate.

For IMPS, the refund is credited back on the same or the next day.</td>
  </tr>
<tr>
    <td height="100">Wallet</td>
    <td height="100">The amount is refunded back to the user’s wallet.</td>
    <td height="100">Refund to wallet is immediate.</td>
  </tr>



</table>
</body>
 </ion-content>
</ion-view>
