<ion-view view-title="Payments">
<!--<ion-item style="border:none">
  <div class="addPlan">Ticket Details</div>
 </ion-item>-->
  <ion-content  class="ParentContent" style="margin-top:50px;">
  	<ion-item>
    <div  class = "card" ng-repeat="payment in payments">
   <div class = "item item-text-wrap">

		 <table  style="width: 100%;"  >
			<!-- <tr>
				<td style="width: 50%">Plan Id</td>
				<td style="width: 5%">:</td>
				<td style="width: 40%">{{plan.PLAN_ID}}</td>

			</tr> -->
   		<tr>
   			<td style="width: 50%">Date</td>
   			<td style="width: 5%">:</td>
   			<td style="width: 40%">{{payment.CREATED_T}}</td>

   		</tr>
   		<tr>
   			<td style="width: 50%">ReceiptNo</td>
   			<td style="width: 5%">:</td>
   			<td style="width: 40%">{{payment.RECEIPT_NO}}</td>
   		</tr> 
   		<tr>
   			<td style="width: 50%">RefNo</td>
   			<td style="width: 5%">:</td>
   			<td style="width: 40%">{{payment.REFERENCE_ID}}</td> 
   		</tr>
      <tr>
        <td style="width: 50%">PayType</td>
        <td style="width: 5%">:</td>
        <td style="width: 40%">{{payment.PAY_TYPE}}</td>
      </tr>
	  
	  
      <tr>
        <td style="width: 50%">Amount</td>
        <td style="width: 5%">:</td>
        <td style="width: 40%">{{payment.AMOUNT}}</td>
      </tr>
   	</table>
    
 </div>
   </div>
     <p style="color:red;text-align: center;font-size: 20px">
      {{errorMsg}}
    </p>
  

</ion-item>
  </ion-content>

</ion-view>
